@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Index (Queue count: @Model.Count) </h2>
<div asp-validation-summary="All"></div>
<form method="post">
    Comment: <input asp-for="Comment" /> <br />
    <button type="submit" asp-page-handler="post">Submit</button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Comments)
            {
                <tr>
                    <td>@result.Text</td>
                    <td>@result.Status</td>
                </tr>
            }
        </tbody>
    </table>

</form>
